In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load Data 
books_df = pd.read_csv("/Users/grace/Documents/Recommender System/Data/books.csv")
ratings_df = pd.read_csv("/Users/grace/Documents/Recommender System/Data/ratings.csv")

In [3]:
#Extract relevant columns from books_df
book_cols = ["book_id", "title", "authors", "language_code"]
books_df = books_df[book_cols]

#As I only want book recommendations that are in Engligh, I will only extract books that are in English from #books_df

eng_vals = ["eng", "en-US", "en-GB", "en-CA", "en"]

eng_books = books_df[books_df["language_code"].isin(eng_vals)]
na_books = books_df[books_df['language_code'].isna()]

books_df = eng_books.append(na_books)

In [4]:
#Merge books_df with ratings_df
data = books_df.merge(ratings_df, on = "book_id", how='left')

In [6]:
data_cols = ["user_id","book_id", "rating"]

df = data[data_cols]

In [7]:
df

         user_id  book_id  rating
0           2886        1       5
1           6158        1       5
2           3991        1       4
3           5281        1       5
4           5721        1       5
...          ...      ...     ...
5916161    35336    10000       4
5916162    17999    10000       3
5916163    49007    10000       4
5916164    43319    10000       5
5916165    48281    10000       4

[5916166 rows x 3 columns]

In [ ]:
df.to_csv("/Users/grace/Documents/Recommender System/Data/CleanedData.csv")