In [1]:
#PLEASE RUN THIS PRIOR TO USE OF THE RECOMMENDER SYSTEM< NO USER INPUT REQUIRED

import pandas as pd
import numpy as np

#Prepare data for models
from surprise import Dataset, Reader

#Seperate data into train and test set
from surprise.model_selection.split import train_test_split

#Selected Model
from surprise.prediction_algorithms.matrix_factorization import SVD

#Import all relevant functions
from Recommender import book_search, your_profile, clear_all, clear_last, recommender

#Relevant DataFrames requried 
df = pd.read_csv("/Users/grace/Documents/Recommender System/Data/DataSet.csv", index_col=0)
book_list = pd.read_csv("/Users/grace/Documents/Recommender System/Data/book_list.csv")

#Empyty List required to insert user data
profile = []

#Algorithm to be used based on model selection and parameter tuning conducted
algorithm = SVD(reg_all=0.03, lr_all=0.006)

/opt/miniconda3/lib/python3.8/site-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

To use this recommender system, user will be required to input the book id of past books read and their personal rating of the book. 

1. To determine the book id of the book, user may use the book_search function. 

2. To input the users book rating, please run the your_profile function to input each book individually.

3. Should the input be incorrect the clear_all function is available to remove the last input the user has made.

4. Once user has completed rating all books the user wants the recommender system to base their recommendations on, please run the     recommender function

5. to retry this, please use the clear_all function to clear all past inputs.

In [84]:
#Search for the books specific book id through the author of the boook or keywords from the books title
book_search(book_list)

Do you have the title of the book? Type T if true!
T / F ?
Do you know the author of this book?

  book_id                    title                           authors
0     852  WHEN BREATH BECOMES AIR  PAUL KALANITHI, ABRAHAM VERGHESE

In [89]:
#Input the book id of the book to be rated and your rating of the book. Re-run this function to add the next book to be rated
your_profile(book_list, profile)

Please input the book id of the book to be rated

Please rate the book on a scale of 1-5

This is the book that you are rating:
When Breath Becomes Air
This is the rating you gave the book: 5

Should this be incorrect please use the delete function!

If you have more books to add, re-run this function

In [91]:
profile

[[106058, 127, 3],
 [106058, 193, 4],
 [106058, 211, 3],
 [106058, 892, 5],
 [106058, 1344, 4],
 [106058, 1082, 4],
 [106058, 649, 4],
 [106058, 300, 5],
 [106058, 1613, 5],
 [106058, 780, 1],
 [106058, 1010, 1],
 [106058, 1788, 1],
 [106058, 2, 1],
 [106058, 490, 1],
 [106058, 132, 5],
 [106058, 114, 5],
 [106058, 450, 1],
 [106058, 13, 5],
 [106058, 14, 5],
 [106058, 852, 5]]

In [88]:
#Should you have made a mistake, uncomment this fuction to remove the last input made
#clear_last(profile)

In [90]:
#Run this function to receive the top 20 books this recommendation system recommends that you read. Please allow this fucntion to take up to 15min to run

recommender(profile, df, book_list, algorithm)

,Title,Authors,Est_Rating
1233,"Queen of Shadows (Throne of Glass, #4)",Sarah J. Maas,4.25156
562,Batman: The Dark Knight Returns (The Dark Knig...,"Frank Miller, Klaus Janson, Lynn Varley",4.22308
2483,The Kindly Ones (The Sandman #9),"Neil Gaiman, Marc Hempel, Richard Case, D'Isra...",4.12453
1789,Wicked: The Grimmerie,"David Cote, Stephen Schwartz, Joan Marcus, Win...",4.09948
2484,Worlds' End (The Sandman #8),"Neil Gaiman, Mike Allred, Gary Amaro, Mark Buc...",4.08038
1277,A Court of Mist and Fury (A Court of Thorns an...,Sarah J. Maas,4.07845
2396,A Game of You (The Sandman #5),"Neil Gaiman, Shawn McManus, Colleen Doran, Bry...",4.06209
1799,The Doll's House (The Sandman #2),"Neil Gaiman, Steve Parkhouse, Chris Bachalo, M...",4.05677
2127,Season of Mists (The Sandman #4),"Neil Gaiman, Matt Wagner, George Pratt, Dick G...",4.05268
1007,"Heir of Fire (Throne of Glass, #3)",Sarah J. Maas,4.03229
457,"Clockwork Princess (The Infernal Devices, #3)",Cassandra Clare,4.02128
111,Tuesdays with Morrie,"Mitch Albom, Saulius Dagys",4.01366
2437,Brief Lives (The Sandman #7),"Neil Gaiman, Jill Thompson, Vince Locke, Peter...",4.01102
840,When Breath Becomes Air,"Paul Kalanithi, Abraham Verghese",3.99772
744,"Crown of Midnight (Throne of Glass, #2)",Sarah J. Maas,3.98332
1807,"Blood Song (Raven's Shadow, #1)",Anthony Ryan,3.97896
850,"Words of Radiance (The Stormlight Archive, #2)",Brandon Sanderson,3.97103
1811,Someone Knows My Name,Lawrence Hill,3.96979
1321,"The Warded Man (Demon Cycle, #1)",Peter V. Brett,3.96791
2439,Fables and Reflections (The Sandman #6),"Neil Gaiman, Bryan Talbot, Stan Woch, P. Craig...",3.96416

In [34]:
#To Re-try, please clear all past inputs by uncommenting and running this function
#clear_all(profile)

As this recommender system was created through collaborative filtering, the more inputs the user makes the more accurate said receommender system will be, fewer inputs result in the recommender system making general recommendations to the user.