In [31]:
import pandas as pd
import numpy as np

#Prepare data for models
from surprise import Dataset, Reader

#Seperate data into train and test set
from surprise.model_selection.split import train_test_split

#Selected Model
from surprise.prediction_algorithms.matrix_factorization import SVD

#Parameter Selection Metric (RMSE)
from surprise.accuracy import rmse

In [2]:
df = pd.read_csv("/Users/grace/Documents/Recommender System/Data/DataSet.csv", index_col=0)

/opt/miniconda3/lib/python3.8/site-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
df

         user_id  book_id  rating
0           2886        1       5
1           6158        1       5
2           3991        1       4
3           5281        1       5
4           5721        1       5
...          ...      ...     ...
5768283    30919     3826       5
5768284    28383     3826       3
5768285    47185     3826       3
5768286    47930     3826       4
5768287    43652     3826       4

[4296130 rows x 3 columns]

In [4]:
#Prepare data for models
reader = Reader(rating_scale=(1,5))
data = Dataset.load_from_df(df, reader)

In [5]:
#create training set and test set
train_set, test_set = train_test_split(data, test_size=0.2, random_state=0)

In [6]:
# Baseline Model Selected
algo6 =SVD() 
algo6.fit(train_set)
predictions6 = algo6.test(test_set)
SVD_rmse = rmse(predictions6) #0.8372

RMSE: 0.8372

In [9]:
epochs = [5,10,15,20,25,30,35] #20 is best

mse_epochs =[]

for i in epochs:
    alg = SVD(n_epochs=i)
    alg.fit(train_set)
    pred = alg.test(test_set)
    epoch_mse = rmse(pred)
    mse_epochs.append(epoch_mse)
    print(i)

RMSE: 0.8735
5
RMSE: 0.8581
10
RMSE: 0.8437
15
RMSE: 0.8374
20
RMSE: 0.8386
25
RMSE: 0.8416
30
RMSE: 0.8453
35

In [37]:
pd.DataFrame({"eppoch":epochs, "mse":mse_epochs}).sort_values(by="mse")

   eppoch       mse
3      20  0.837356
4      25  0.838600
5      30  0.841594
2      15  0.843739
6      35  0.845287
1      10  0.858135
0       5  0.873459

In [40]:
rate = [0.005,0.006,0.007,0.008] #0.005 or 0.006 is ideal
mse_rate = []
for i in rate:
    alg=SVD(lr_all=i)
    alg.fit(train_set)
    pred = alg.test(test_set)
    rmse_rate = rmse(pred)
    mse_rate.append(rmse_rate)
    print(i)

RMSE: 0.8385
0.005
RMSE: 0.8377
0.006
RMSE: 0.8404
0.007
RMSE: 0.8430
0.008

In [42]:
reg = [0.02,0.03,0.04]
mse_reg=[]

for i in reg:
    alg = SVD(reg_all=i)
    alg.fit(train_set)
    pred = alg.test(test_set)
    mse_regs = rmse(pred)
    mse_reg.append(mse_reg)
    print(i)

RMSE: 0.8373
0.02
RMSE: 0.8366
0.03
RMSE: 0.8405
0.04

In [43]:
reg = [0.02,0.03,0.04]
mse_reg=[]

for i in reg:
    alg = SVD(reg_all=i, lr_all=0.006)
    alg.fit(train_set)
    pred = alg.test(test_set)
    mse_regs = rmse(pred)
    mse_reg.append(mse_reg)
    print(i)

RMSE: 0.8385
0.02
RMSE: 0.8315
0.03
RMSE: 0.8341
0.04

In [ ]:
pd.DataFrame({"rate":rate, "mse":mse_rate}).sort_values(by="mse")

In [44]:
#SVD Model Selected
algorithm = SVD(reg_all=0.03, lr_all=0.006)